<ion-view title='<img class="title-image" src="img/fm-logoname.png" />'>
    <ion-nav-bar class="bar-stable"></ion-nav-bar>
    <!--ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons-->
    
    <ion-content class="has-header fmbackground">
        <div class="padding">
            <ion-item nav-clear menu-close class="item-image item-balanced" href="#/app/editofferta">
                Nuova Offerta
            </ion-item>
        </div>
        <div class="padding">
            <ion-item nav-clear menu-close class="item-image item-balanced" href="#/app/listofferte">
                Offerte correnti
            </ion-item>
        </div>
        
        <!-- BLOCCO DI CODICE NON PIU' SUPPORTATO DOPO UPGRADE A VER.: 1.0.0-beta.14 -->
        <!--div class="padding">
            <a nav-clear class="button button-block button-balanced" href="#/app/editofferta">
                Nuova offerta
            </a>
            <a nav-clear class="button button-block button-balanced" href="#/app/listofferte">
                Offerte correnti
            </a>
        </div-->
    </ion-content>
</ion-view>